<br />
<p class="post-text center">"{{post_text}}"</p>

{{#if post_link}}
<a class="post-link" href={{post_link}} target="_blank">
    <p style="color:#FF9033;">CLICK LINK HERE!</p>
</a>
{{/if}}

<p class="post-user">- Says {{user.username}}</p>

<br />