
    <br/>
    <p class="post-text">"{{post_text}}"</p>  
    
    {{#if post_link}}
    <a href={{post_link}} target="_blank"><p style="text-align:center" >Click Link!</p></a>
    {{/if}}

    <p class="post-user">- Says {{user.username}}</p>


  
    <br/>

