<div class="login-modal" id="login-modal">
    <div class="login-container">
        <h2 class="intro-title">Login In</h2>
        <div class="form-components">
            <label for="form-email">Email</label>
            <input type="text" placeholder="Last Name" name="last-name" id="form-last-name" />
        </div>

        <div class="form-components">
            <label for="form-password">Last Name</label>
            <input type="text" placeholder="Last Name" name="last-name" id="form-last-name" />
        </div>
        <p>If you have not signed up yet, please click <a href="/register">HERE</a></p>
        <br />
        <button class="highlighted-options text-center margin-center" id="modal-close">
            <h6>
                Close
            </h6>
        </button>
    </div>
</div>