<div class="modal" id="logout-modal">
    <div class="login-container">
        <h2 class="intro-title">You have successfully logged out! Stay tuned for more incoming details. See you in October!</h2>
        <br/>
        <br/>
        <button class="highlighted-options text-center margin-center" id="modal-close">
            <h6>
                Close
            </h6>
        </button>
    </div>
</div>