<header id="mobileMenu">
                <div class="mobile-toggle" id="mobile-menu">
                    <div class="mobile-options"></div>
                    <div class="mobile-options"></div>
                    <div class="mobile-options"></div>
          </div>
        <nav id="nav">

          
            <a class="nav-links" id="#introduction">
                <div class="nav-links-selected" id="#introduction" >Introduction</div>
            </a>
            <a class="nav-links" id="#story">
                <div class="nav-links-selected" id="#story">Story Time</div>

            </a>
            <a class="nav-links" id="#venue">
                <div class="nav-links-selected" id="#venue">The Venue</div>
            </a>
            <a class="nav-links" id="#venue">
                <div class="nav-links-selected" id="#venue">My Stuff</div>
            </a>
            <a class="nav-links highlighted-options" id="#signUp">
                <div class="nav-links-selected" id="#signUp">Reserve Your Slot</div>
            </a>
        </nav>
     
</header>