<header>

        

        <nav id="nav">

   
            <a class="nav-links" href="#introduction">
                <div class="nav-links-selected">Introduction</div>
            </a>
            <a class="nav-links" href="#story">
                <div class="nav-links-selected">Story Time</div>

            </a>
            <a class="nav-links" href="#venue">
                <div class="nav-links-selected">The Venue</div>
            </a>
            <a class="nav-links" href="#venue">
                <div class="nav-links-selected">My Stuff</div>
            </a>
            <a class="nav-links highlighted-options" href="#signUp">
                <div class="nav-links-selected">Reserve Your Slot</div>
            </a>
        </nav>
     
    
</header>