<header>
        <div class="headings">
            <div class="titles">
                <h2>10,000 Days of Life</h2>
            </div>

            <div class="titles">
                <h2>Hosted by César Siguencia</h2>
            </div>
           
        </div>

        <nav class="header-nav">
            <a class="main-nav-links" href="#story">Story Time</a>
            <a class="main-nav-links" href="#venue">The Venue</a>
            <a class="main-nav-links highlighted-options" href="#signUp">Reserve Your Slot</a>
        </nav>
     
    
</header>