<div class="hero">
        <img class="empire" src="/media/empire.png" alt="empire state building" width="100%"/>

        <div class="carousel">
            
        </div>


        <div class="hero-menu">
    
            <Nav class="welcome-nav">

                
                <!-- <div class="welcome-nav-links">
                    <p class="welcome-nav-links-font copperplate">Reserve Your Seat</p>
                </div> -->

                <div class="welcome-nav-links">
                    <a class="welcome-nav-links-font copperplate" href="./main.html" target="_blank">Click here for awesomeness</a>
                </div>
<!--                 
                <div class="welcome-nav-links">
                    <p class="welcome-nav-links-font copperplate">Ask Questions Here</p>
                </div> -->

   
                
            </Nav>
    
        </div>

    </div>
