{{>navbar }}

{{#if loggedIn}}
    {{>dashboard}}

{{else}}
<div class="body">
    <section class="form-page">

        <h3>Please fill out all the fields in this form!</h3>

        <form id="form-registration">
            <div class="form-components">
                <label for="form_first_name">First Name</label>
                <input type="text" placeholder="First Name" name="form_first_name" id="form-first-name" />
            </div>

            <div class="form-components">
                <label for="form_last_name">Last Name</label>
                <input type="text" placeholder="Last Name" name="last-name" id="form-last-name" />
            </div>

            <div class="form-components">
                <label for="form_confirm_age">I am at least 21 years old and am aware I must bring a government issued
                    ID to the venue on the day of the event.</label>
                <input type="radio" name="age-consent" id="form-confirm-age" />
            </div>

            <div class="form-components">
                <label for="form_email">Enter your email</label>
                <input type="email" placeholder="Email" name="email" id="form-email" />
            </div>

            <div class="form-components">
                <label for="form_username">Username</label>
                <input type="text" placeholder="Last Name" name="last-name" id="form-username" />
            </div>

            <div class="form-components">
                <label for="form_password">Password</label>
                <input type="text" placeholder="Last Name" name="last-name" id="form-password" />
            </div>

            <div class="form-components">
                <p>Confirm attendance? ?
                <div >
                    <div class="attendance">
                                            <input type="radio" name="form-attend" id="attend-yes" />
                    <label for="attend-yes"> Yes </label>
                    </div class="attendance">

                    <div class="attendance">
                                    <input type="radio" name="form-attend" id="attend-no" />
                    <label for="attend-no"> No </label>

                    </div>

                    <div class="attendance">
                                   <input type="radio" name="form-attend" id="attend-maybe" />
                    <label for="attend-maybe"> Not Sure</label>
                    </div>
        
                </div>



                </p>

            </div>
            <br />
            <p> "Users will be able to change their attendance choice up to a week before the event. Afterwards, users
                will NOT be able to change their answer on this form. If a user decides they cannot attend after the
                registration deadline, they must call the venue place directly and may be charged a cancellation fee."
            </p>

            <br />

            <p> "Guests that originally notated their attendance as 'Not Sure' will automatically be placed as will not
                attend. Any guests who RSVPs two weeks before the day of the event will be given a courtsey email
                reminding them of their selected attendance choice, therefore, giving all guests at that time an
                opportunity to make a last minute reservation change if they choose to do so before there are 7 days
                prior to the event."</p>
            <br />


            <div class="form-components">
                <label for="form-terms" style="font-weight:bold">I have read the terms above and understand I have the right to change my
                    attendance answer up to 7 days before the event.</label>
                <input type="radio" name="agreement" id="form-terms" />
            </div>



            <button type="submit" class="highlighted-options text-center margin-center">


                <h6>Complete RSVP</h6>


            </button>

        </form>
    </section>

</div>

<script src="/script/register.js"></script> 

{{/if}}