:root {
    --primary-color: white;
    --secondary-color: ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;      
    box-sizing: border-box;
    background-color: #8B4513;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;      
    box-sizing: border-box;
    
}

a { 
    color: white; 
    text-decoration: none;
}


.body{
   background-color: rgba(40,40,40);
}

p {
    color: white
}

h1{
    text-align: center;
    color: var(--primary-color)
}

h2{
    color: var(--primary-color);
    display: block
}

section, header{
    margin: 50px auto;
    width: 90%
}

section{
    width: 80%;
    
}

/* Intro Page */
.hero{
    background-image: url('../media/empire.png');
    /* overflow: hidden; */
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.hero-2{
    position: relative;
    background-image: url('../media/empire.png');
    /* overflow: hidden; */
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;

}


.carousel {
    position: absolute;
    top: 0px;
    width: 100%;
    padding-top: 30%;
    text-align: center;
    margin: auto 0 
}
 

.welcome-title{
    display: inline;
    font-size: 60px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-family: 'Amaranth', sans-serif;

    
    
}

@keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.hero-menu{
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

.welcome-box-animation{
    visibility: visible;
    animation: fadeInAnimation ease-in 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hero-menu-animation {
    visibility: visible;
    animation: slide-down .3s ease-out;
}


.welcome-nav{
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;

}


.welcome-nav-links{
    display: block;
    margin: 25px auto;
    padding: 25px 25px;
    border: 2px solid #FFC133;
    border-radius: 30px; 
    width: 75%;
    backdrop-filter: blur(5px);
}

.welcome-nav-links:hover{
    background-color: #FF9033;
    transition: 500ms ease-in-out
}

.welcome-nav-links-font{
    font-size: 25px;
    display: inline;
}
/* End */

.main-nav-links{
    color: white;
    font-size: 20px;
    text-decoration: none;
    width: 20%;
    text-align: center;
    font-family: copperplate
}


.content-box{
    text-align: center;
    /* justify-content: center; */
}

.left-align{
    text-align: left;
}

header{
    justify-content: center;
}

.headings{
    display: flex;
    justify-content: space-between;
    font-family:'Amaranth', sans-serif;
    font-size: 25px;
}

.header-nav{
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}



h3{
    font-family: copperplate;
    font-size: 35px;
    color: white;
    text-align: center;
}

section > p{
    font-family: 'monospace', monaco;   
}

section > p, label{
    font-family: 'monospace', monaco;   
}

.left-align > p{
    font-family:'monospace', monaco
}




.registration{
    /* width: 40%; */
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;   */
    margin: 20px 20px;
}

.personal-info > label {
    font-family: copperplate;
    font-size: 25px;
    color: white
}

.personal-info{
    box-sizing: border-box;
}

.textbox {
    padding: 10px;
    margin: 10px auto;
    display: block;
    width: 100%



}

.highlighted-options {
    background-color :#FF9033;
    border-radius: 30px;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 95%
}

.footer p{
    font-family: copperplate;
}

/* fonts */
.copperplate {
    font-family: copperplate
}

.berkshire {
    font-family: 'Rock Salt', cursive
}

/* form page*/

label,input{
    display: block;
    margin-top: 10px;
    width: 25%
}

form > p{
    font-family: copperplate
}

.attendance{
    width: 25%
}

.attendance > label,input{
    display: inline;

}

.form-components{
    font-family:'monospace', monaco;
    margin-top: 10px;
}

label {
    color:white
}

button{
    background-color: rgba(0,0,0,0);
}



@media screen and (max-width: 1600px){
    .hero{
        background-position: center;
    }

    .carousel{
        padding-top: 400px;;
    }

}

@media screen and (max-width: 1000px){
    .hero-2{
        height: 500px;
    }


}


@media screen and (max-width: 650px){
    .footer{
        display: block;
    }

    .footer > div{
        text-align: center;
    }
    .welcome-box-animation{
        margin: 0 auto;
        width: 90%
    }

}


 
 @media screen and (max-width: 575px){

    .carousel{
        padding-top: 300px;;
    }

}

@media screen and (max-height: 650px){
    .carousel{
        padding-top: 200px;;
    }

}

@media screen and (max-height: 550px){
    .carousel{
        padding-top: 100px;;
    }

}