:root {
    --primary-color: green;
    --secondary-color: ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;      
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;      
    box-sizing: border-box
}

h2{
    color: var(--primary-color);
    display: block
}

section, header{
    margin: 50px auto;
    width: 90%
}

.hero{
    /* width: "100%" */
    position: relative;

}

.hero-menu{
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin: 0 auto;


}

/* .empire {
    height: 500px
} */

.content-box{
    text-align: center;
    /* justify-content: center; */
}

.left-align{
    text-align: left;
}

header{
    justify-content: center;
}

.headings{
    display: flex;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    justify-content: space-evenly;
}



/* form */

.registration{
    /* width: 40%; */
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;   */
    margin: 0 20px;
}

.personal-info{
    box-sizing: border-box;
}

.textbox {
    padding: 10px;
    margin: 10px auto;
    display: block;
    width: 100%



}