:root {
    --primary-color: white;
    --secondary-color: ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;      
    box-sizing: border-box;
    background-color: #8B4513;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;      
    box-sizing: border-box;
    
}

.body{
   background-color: #8B4513;; 
}

p {
    color: white
}

h1{
    text-align: center;
    color: var(--primary-color)
}

h2{
    color: var(--primary-color);
    display: block
}

section, header{
    margin: 50px auto;
    width: 90%
}









.hero{
    /* width: "100%" */
    position: relative;

}

.hero-menu{
    text-align: center;
    position: absolute;
    bottom: 25px;
    width: 100%;
    margin: 0 auto;


}


.welcome-nav{
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;

}


.welcome-nav-links{
    width:20%;
    margin: auto;
    padding: 25px;
    border: 2px solid #FFC133;
    border-radius: 30px; 
}

.welcome-nav-links:hover{
    background-color: #FFC133;
    transition: 500ms ease-in-out
}

.welcome-nav-links-font{
    font-size: 20px;
    display: inline;
}


.content-box{
    text-align: center;
    /* justify-content: center; */
}

.left-align{
    text-align: left;
}

header{
    justify-content: center;
}

.headings{
    display: flex;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    justify-content: space-evenly;
}



/* form */

.registration{
    /* width: 40%; */
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;   */
    margin: 0 20px;
}

.personal-info{
    box-sizing: border-box;
}

.textbox {
    padding: 10px;
    margin: 10px auto;
    display: block;
    width: 100%



}

.footer{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 95%
}