:root {
    --primary-color: white;
    --secondary-color: #8B4513;
    --third-color: rgba(40, 40, 40);
    --fourth-color: #FF9033;
    --linear: linear-gradient(#8B4513, #b86d38);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
}

/* Global-------------------------*/

html,
body {
    margin: 0;
    padding: 0;
}

section:nth-child(odd) {
    background-color: var(--third-color)
}

section:nth-child(even) {
    background-color: var(--secondary-color);
    background-image: var(--linear)
}

section {
    padding: 20px 20px 20px 20px
}

section>div {
    width: 80%;
    margin: 0 auto;
}

p {
    color: white;
    font-family: "Euclid Circular A", "Poppins";
}

h1 {
    text-align: center;
    color: var(--primary-color)
}

h2 {
    color: var(--primary-color);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 100;
}

h3 {
    display: block;
    font-family: copperplate;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

h6 {
    font-family: copperplate;
    text-align: center;
    font-size: 22px;
    display: block
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.margin-center{
    margin: 0 auto
}

.text-center{
    text-align: center;
}

.justify-center{
    justify-content: center;
    align-items: center;
}

button{
    display: block;
    color: white;
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 25px;
    transition: ease-in-out 0.2s;
}

button:hover{
    border: white 3px solid;
}

/* INTRO PAGE--------------------------*/

a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background-image: url('../media/empire.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: ease-in-out 2s;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.welcome-box {
    backdrop-filter: blur(2px);
}

.welcome-titles {
    display: inline;
    font-size: 60px;
}

.welcome-title-holder {
    visibility: visible;
    animation: fadeInAnimation ease-in 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.welcome-button {
    display: block;
    margin: 25px auto;
    padding: 25px 25px;
    border: 2px solid #FFC133;
    border-radius: 30px;
    width: 75%;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: 1.5s
}

.welcome-button:hover {
    background-color: #c7834b;
    transition: 500ms ease-in-out
}

.welcome-button-font {
    font-size: 25px;
}

.copperplate-font{
    font-family: copperplate;
}

/* HOMEPAGE -------------------- */
/* Header */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    background-color: var(--secondary-color);
    background-image: var(--linear);
}

.nav-links {
    display: flex;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    width: 20%;
    height: 50px;
    text-align: center;
    font-family: copperplate;
    margin: auto;
    opacity: 1
}

.highlighted-options {
    background-color: #FF9033;
}

.nav-links-selected {
    margin: 0 auto;
    transition: ease-in-out 0.2s;
}

.nav-links-selected:hover {
    opacity: 1;
    border-bottom: 3px solid var(--primary-color);
}

/* Introduction & Hero */

#hero-2 {
    transition: ease-in-out 1.5s
}

.intro-div>div {
    padding: 20px 20px 20px 20px
}

.intro-title {
    font-size: 40px
}

.full-width{
    width: 800px;
    height: 500px;
    margin: 0 auto;
}

.video {
    display: block;
    height: 100%;
    margin: 0 auto
}

.dashboard {
    font-size: 25px;
    color: white;
    width: 60%;
    background-color: var(--third-color);
    border-radius: 25px;
}

.dashboard-carousel {
    overflow: hidden;
}

.dashboard-posts {
    width: 100%;
    flex-shrink: 0;
    transition: ease-in-out 1s;
}


.post-link {
    display: block;
    color: var(--fourth-color);
    font-weight: bold;
    text-decoration: underline;
    margin: 10px auto
}

.post-user {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}




.timer-bar{
    margin: 15px 0;
    height: 5px;
    background-color: var(--primary-color);
}

.timer-progress{
    width: 0%;
    background-color: var(--fourth-color);
    background: linear-gradient(.25turn, var(--fourth-color), 99%, var(--primary-color));
    height: 5px;
    transition: ease-in-out;
}

.equation {
    padding: 20px 0;
    border-radius: 25px;
    background-color: var(--fourth-color);
}

.equation>h2 {
    font-size: 30px;
    font-weight: bold;
}

.equation>h2:nth-child(odd) {
    color: black
}

.equation>h2:nth-child(even) {
    color: var(--secondary-color)
}

.equation>h2:last-child {
    color: var(--primary-color);
    font-size: 35px;
}

/* Skylark Section Venue */

.venue-imgs-block{
    justify-content: space-between;
    margin: 30px auto;
}

.imgs{
    display: block;
    width: 400px;
    height: 400px;
    transition: ease-in-out 1.5s;
    border: 5px solid var(--fourth-color)
}

.skylark-img {
    background-image: url('../media/lounge.png');
    background-size: 210%;
    background-position-x: 50%;
}

.skylark-img-2 {
    background-image: url('../media/lounge-2.png');
    background-size: 180%;
    background-position-x: 30%;
}

.skylark-img-3 {
    background-image: url('../media/lounge-3.png');
    background-size: 180%;
    background-position-x: 30%;
}

.venue-info {
    display: flex;
    margin: 30px auto;
}

.venue-info-blocks {
    width: 45%;
}

.venue-info-blocks>iframe {
    display: block;
    height: 400px;
    width: 100%;
    margin: 0 auto;
}

/* Section Sign Up */

.form-info>label {
    font-family: copperplate;
    font-size: 25px;
    color: white
}

.personal-info {
    box-sizing: border-box;
}

.textbox {
    padding: 10px;
    margin: 10px auto;
    display: block;
    width: 100%
}

/* Footer */

footer {
    height: fit-content;
    background-color: var(--secondary-color);
    background-image: var(--linear);
}

.footer-flex {
    width: 90%;
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
}

/* FORM PAGE --------------------------*/
/* Fill Out Form */

label,
input {
    display: block;
    margin-top: 5px;
    width: 25%;
    padding: 5px 0;
}

form{
    width: 75%;
    margin: 0 auto
}

label,form>p {
    font-family: copperplate
}

.attendance>label{
    display: inline;
    width: 50%;
    margin: 10px 0
}

.attendance>input{
    display: inline;
}

.form-components {
    margin: 20px 0;

}

.form-components > label{
    font-family: Raleway;
    width: 100%
}

label {
    color: white
}

input[type="radio"]{
    display: inline;
    width: 20px;
}

/* Media Queries ------------------------- */

@media screen and (max-width: 1600px) {
    .venue-split {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .venue-imgs-block {
        display: block;
        width: 50%
    }

    .venue-imgs-block>* {
        display: block;
    }

    .venue-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .venue-info-blocks {
        width: 80%
    }

    .venue-info-blocks>iframe {
        display: block;
        height: 800px;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1000px) {
    .venue-split>* {
        width: 100%;
    }

    .venue-info-blocks>iframe {
        display: block;
        height: 400px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .full-width {
        width: 500px;
        height: 350px;
    } 

    label,
    input {
    width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .intro-div {
        width: 95%
    }

    .full-width {
        height: 300px;
    }


    .mobile-toggle {
        width: 100%;
        height: 35px;
    }

    #mobileMenu {
        transition: all 0.5s ease-in-out;
    }

    .mobile-options {
        background-color: var(--primary-color);
        width: 35px;
        height: 5px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
    }

    .nav-links {
        opacity: 0;
        height: 0px;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        transition: ease-in-out 1s
    }

    .mobile-effect {
        transition: ease-in-out 0.75s;
        opacity: 1;
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
        margin: auto
    }

    #mobile-menu.active .mobile-options:nth-child(2) {
        transition: all 0.5s ease-in-out;
        opacity: 0;
    }

    #mobile-menu.active .mobile-options:nth-child(1) {
        transition: all 0.5s ease-in-out;
        transform: translateY(10px) rotate(45deg);
    }

    #mobile-menu.active .mobile-options:nth-child(3) {
        transition: all 0.5s ease-in-out;
        transform: translateY(-10px) rotate(-45deg);
    }
}

@media screen and (max-width: 650px) {
    .footer-flex {
        display: block;
    }

    .footer-flex>div {
        text-align: center;
    }

    .full-width {
        width: 400px;
        height: 300px;
    }

    section>div {
        padding: 20px 0 20px 0
    }

    .dashboard {
        width: 90%;
        margin: 10px auto;
    }
    .dashboard > *{
        width: 90%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 575px) {
    .imgs {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }

    .full-width{
        width: 100%;
    }

    .venue-info-blocks>iframe {
        height: 200px;
    }

    .textbox {
        width: 80%;
    }

    .section-venue{
        padding: 20px 0;
    }

    .intro-div>div {
        padding: 20px 0px 20px 0px;
    }
}